
/* css reset | @yojeero | https://github.com/yojeero */
 **, *::before, *::after {box-sizing: border-box;} * {margin: 0;}
html, body{font-size: 100%; height: 100%;}
img , picture , video , canvas { display : block; max-width : 100%; border : 0; height : auto; }
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: normal;}
input, button, textarea, select {font: inherit;}
ul, ol {list-style: none;}
a {cursor: pointer; text-decoration: none; border: 0; background: transparent;}
a:active, a:focus, a:hover {outline-width: 0;} 

/* text style */

h1,
h2,
h3,
h4,
h5
{
	font-family : 'Poppins';
	font-weight : 700;
	line-height : 1.3;

	margin : 3rem 0 1.38rem;

	text-transform : capitalize;

	color : #000;
}

h1 { font-size : 1.802rem ; margin-top : 0 } 
h2 { font-size : 1.602rem } 
h3 { font-size : 1.424rem } 
h4 { font-size : 1.266rem } 
h5 { font-size : 1.125rem } 

/* 	main  */

body
{
	font-family : 'Roboto', system-ui,-apple-system,'Segoe UI','Helvetica Neue', Ubuntu, Cantarell,Noto Sans,sans-serif;
	font-weight : 400;
	line-height : 1.75;

	margin : 0;
	padding : 0;

	letter-spacing : 1px;

	color : #191919;
	background : #fafafa;
}

.container
{
	display : grid;

	width : 100%;
	max-width : 70rem;
	margin : auto;

	grid-template-areas : 
	'header'
	'folio'
	'price'
	'address'
	'map'
	'client'
	'footer';
}

header
{
	display : grid;

	width : 100%;
	margin : auto;

	grid-area : header;
}

.slider_pokemon
{
	position : relative;

	display : grid;

	width : 100%;
	height : 700px;

	margin : 0;
}

.slider_pokemon_nav
{
	position : absolute;
	z-index : 900;
	top : 45%;
	right : 1rem;
}

.slider_pokemon_nav a
{
	display : block;

	width : 18px;
	height : 16px;

	margin : 12px 0;

	text-indent : -9999px;

	border : 1px solid #191919;
	box-shadow : none;
}

.slider_pokemon_nav a.active
{
	background : #000;
}

.poki-all
{
	position : absolute;
	z-index : 1;
	top : 0;
	left : 0;

	display : flex;
	align-items : center;
	flex-flow : row wrap;
	justify-content : space-evenly;

	width : 100%;
	height : 700px;
}

.poki-all.flex-active
{
	z-index : 2;
}

.poki-text
{
	width : 55%;
	margin-left : 2rem;

	transition : transform .2s linear .2s, opacity .1s linear .2s;
	transform : translate3d(0,0,0);

	opacity : 1;
}

.poki-text img
{
	width : 200px;
	height : auto;

	margin : 2rem;
}

.poki-sub
{
	font-size : .75rem;

	margin-bottom : 2.5rem;

	letter-spacing : .5rem;
	text-transform : uppercase;
}

.poki-big
{
	font-size : 7.5rem;
	line-height : 110px;

	margin-left : -.5rem;
}

.poki-norm
{
	font-size : .8125rem;
	line-height : 22px;

	margin-top : 1.5rem;
}

.text_back
{
	font-size : 8rem;

	position : absolute;
	bottom : -3rem;
	left : 1rem;

	color : #f04a00;
}

.poki-box
{
	height : 100%;
	transition : transform .1s linear;
}

.poki-brand
{
	position : relative;

	display : flex;
	overflow : hidden;
	align-items : center;

	width : 60%;

	transition : transform .1s linear .4s;
	transform-origin : left bottom;

	opacity : 0;
}

.poki-image
{
	display : flex;

	width : 40%;

	transition : transform .1s linear 0s;
	transform-origin : right center;

	opacity : 0;
	border-right : solid 2px #000;
}

.flex-preStart .poki-brand ,
.flex-preStart .poki-image ,
.flex-active .poki-brand ,
.flex-active .poki-image
{
	opacity : 1;
}

.flex-pika .poki-brand ,
.poki-color .poki-brand ,
.poki-color-2 .poki-brand
{
	background : #fff;
}

.flex-pika .poki-image ,
.poki-color .poki-image ,
.poki-color-2 .poki-image
{
	overflow : hidden;

	width : 300px;
	height : auto;

	background-size : cover;
}

.poki-effect
{
	position : absolute;
	right : 15%;
	bottom : 20px;

	max-height : 40vw;

	transition : opacity .43s .6s, transform .4s .65s cubic-bezier(0, .88, .4, .93);
	transform : translate3d(0,0,0);
	opacity : 1;
}

.poki-all.animate-start .poki-text { transform : translate3d(0,-200%,0); opacity : 0; }
.poki-all.animate-start .poki-effect { transform : translate3d(-200px,0,0); opacity : 0; } 
.poki-all.animate-end .poki-brand { transform : scaleY(0); } 
.poki-all.animate-end .poki-image { transform : scaleX(0); } 
.poki-all.animate-end .poki-text { transform : translate3d(0,200%,0); opacity : 0; } 
.poki-all.animate-end .poki-effect { transform : translate3d(200px,0,0); opacity : 0; }

/* 	menu 	*/

.navicon
{
	position : absolute;
	z-index : 999;
	top : 4rem;
	right : 1rem;

	display : flex;
	flex-direction : column;
	justify-content : space-between;

	width : 24px;
	height : 14px;

	cursor : pointer;
	transition : transform 330ms ease-out;
}

.navicon.open
{
	transform : rotate(90deg);	
}

.line-menu-top
{
	width : 100%;
	height : 3px;

	border-radius : 2px;
	background-color : #000;

	transition : transform 330ms cubic-bezier(.54, -.81, .57, .57);
	transform-origin : right;
}

.open .line-menu-top { transform : rotate(90deg) translateX(12px); }

.line-menu-bottom
{
	width : 60%;
	height : 3px;

	border-radius : 2px;
	background-color : #000;
}

.open .line-menu-bottom
{
	width : 100%;
}

/* 	menu fullscreen  */

.menu
{
	position : fixed;
	top : 0;
	left : 0;

	display : grid;
	visibility : hidden;
	align-items : center;
	justify-content : center;

	width : 100vw;
	height : 100vh;

	transition : visibility .5s ease, opacity 1s ease;
	text-align : right;

	opacity : 0;
	background : #fafafa;
}

.menu.open
{
	z-index : 910;

	visibility : visible;

	opacity : 1;
}

.nav
{
	visibility : visible;
	flex-flow : column wrap;

	padding : 5rem;
}

.menu_head
{
	font-family : 'Poppins';	
	font-size : 1rem;
	font-weight : 700;

	color : #f04a00;

	padding-bottom : 3.75rem;
}

.menu_foot
{
	font-size : .8rem;

	padding-top : 5rem;
}

.nav li
{
	transition : all .4s ease;
}

.nav a
{
	font-size : 1rem;
	font-weight : 400;
	line-height : 2.5rem;

	position : relative;

	display : block;

	list-style-type : none;

	cursor : pointer;
	transition : all .4s ease;
	text-align : right;
	text-decoration : none;
	letter-spacing : .0406rem;
	text-transform : uppercase;

	color : #000;
}

.nav a::before
{
	position : absolute;
	right : 100%;
	bottom : 0;
	left : 0;

	content : '';
	transition : right .3s ease-out;

	border-bottom : 1px solid #191919;
}

.nav a:hover,
.nav a:focus
{
	font-weight : 700;

	transform : matrix(1, 0, 0, 1, 25, 0);

	color : #f04a00;
}

.nav a:hover::before , .nav a:focus::before { right : 0; }
.nav a:disabled::before { display : none; }

/* 	folio	 */

.folio
{
	display : grid;

	width : 100%;
	max-height : 100vh;
	margin : auto;
	padding : 4rem 0;

	grid-area : folio;
}

.folio-grid
{
	display : grid;
	overflow : hidden;

	width : 100%;

	gap : .5rem;
	grid-template-columns : 200px repeat(auto-fill, minmax(170px, 1fr));
	grid-template-rows : repeat(3, 170px);
}

.folio-grid > div > img
{
	width : 100%;
	height : 100%;

	object-fit : cover;
}

.folio-grid .big
{
	grid-column : span 2;
	grid-row : span 2;
} 

.folio-grid .big2
{
	grid-column : 1;
	grid-row : 3;
} 

.folio-grid .big3
{
	grid-column : 2;
	grid-row : 3;
} 

/* 	price  */

.price
{
	display : grid;

	width : 70%;
	height : auto;
	margin : auto;

	grid-area : price;
	grid-template-columns : 1fr;
}

.price h1, .address h1
{
	font-size : 7.5rem;
	line-height : 110px;

	display : grid;

	width : 100%;

	place-items : center;
}

.price p, .address p
{
	font-size : .75rem;

	margin-bottom : 2.5rem;

	text-align : center;
	letter-spacing : .25rem;
	text-transform : uppercase;
}

thead ,
tbody ,
tr
{
	display : contents;
}

table
{
	border-top : 1px solid #dde5e5;
	border-right : 1px solid #dde5e5;
}

tr
{
	display : grid;

	background : #f7f8f9;

	grid-template-columns : 2fr 1fr;
}

th ,
td
{
	padding : 1rem;

	text-align : left;

	border-bottom : 1px solid #dde5e5;
	border-left : 1px solid #dde5e5;
}

th
{
	font-size : 1.5rem;

	text-align : center;
	letter-spacing : .0406rem;
	text-transform : capitalize;

	color : #191919;
	background : #fff;
}

td
{
	font-size : .875rem;
}

td:nth-child(2)
{
	text-align : center;
}

/* 	address  */

.address
{
	display : grid;

	width : 100%;
	margin : 5rem auto 2rem auto;

	grid-area : address;
}

.address img
{
	display : grid;

	width : 400px;
	height : auto;

	margin : 2rem auto;
}

.info
{
	display : grid;

	margin : 4rem 0;

	grid-template-columns : repeat(3, 1fr);
}

.info div
{
	display : grid;
	align-content : start;
	justify-content : center;
}

.info svg
{
	display : grid;
	align-items : center;

	width : 2rem;
	height : 2rem;

	margin-right : 1rem;
}

.info p
{
	font-size : .875rem;
	letter-spacing : .8px;

	display : grid;
	align-items : center;

	grid-template-columns : repeat(2, max-content);
}

.info a
{
	font-size : 1.5rem;
	line-height : 2rem;

	display : grid;

	color : #191919;
}

.info a:hover
{
	font-weight : 700;
	color : #f04a00;
}

/* 	map  */

.map
{
	display : grid;

	width : 50%;
	min-height : 400px;

	margin : 0 auto 6rem;
	padding : 2rem;

	border : 1px solid #000;
	background-color : #fff;

	grid-area : map;
}

#map
{
	width : 100%;
	max-height : 100vh;
}

/*  clients  */

.client
{
	display : grid;
	overflow : hidden;
	justify-content : center;

	width : 100%;

	margin : auto;
	padding : 2rem;

	border : 1px solid #000;

	gap : 1rem;
	grid-area : client;
	grid-template-columns : repeat(auto-fill, minmax(100px,150px));
}

.client img
{
	border : 1px solid #000;
}

/* 	footer  */

footer
{
	display : grid;
	justify-content : center;

	width : 100%;

	margin : 7rem 0 4rem;

	text-align : center;
	text-transform : uppercase;

	grid-area : footer;
}

.brand
{
	justify-content : center;

	margin-bottom : 3rem;
	color: #f04a00;

	letter-spacing : .0406rem;
}

.brand p
{
	font-size : 4rem;

	line-height : 70px;
}

.brand h1
{
	font-size : 7rem;

	line-height : 110px;
}

.copyright
{
	font-size : 5rem;

	justify-content : center;

	width : 40%;

	margin : 2rem auto;
	padding : 1rem 0;

	letter-spacing : .0406rem;
	text-transform : uppercase;

	color : #fff;
	background-color : #f04a00;
}

.fav
{
	font-size : .875rem;
	line-height : 1.5rem;

	justify-content : center;	

	letter-spacing : .0406rem;
	text-transform : capitalize;
}

.fav div
{	
	margin : 3rem 0;
}

footer .fav a
{
	padding : 0 10px;	
	color : #f04a00;	
}

.fav a:hover
{
	font-weight : 700;
	color : #000;
}

.up
{
	justify-content : center;
	margin-top : 2rem;
}

.up svg
{
	width : 1.75rem;
	height : 1.75rem;

	transition : all .3s ease;

	fill : none;
	stroke : #f04a00;
	
}

.up svg:hover
{
	stroke : #000;
}

/* loader */

.loader
{
	position : absolute;
	z-index : 9999;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;

	display : flex;
	align-items : center;
	justify-content : center;

	margin : auto;

	background : #fafafa;
}

.loader svg
{
	display : flex;

	width : 3rem;
	height : 3rem;

	fill : #000;
	stroke : #000;
}

/*  Responsive  */

@media ( max-width: 60em ) /* screen max 960px */
{
	.poki-left
	{
		width : 100%;
	}

	.poki-right
	{
		display : none;
	}

	.poki-big
	{
		font-size : 4em;
	}

	.poki-text
	{
		width : 74%;
		margin-left : 24px;
	}

	.top-fav svg
	{
		fill : #fff;
	}

	.menu
	{
		width : 100vw;
		height : 100vh;
	}

	.folio ,
	.folio-grid
	{
		width : 90%;
		padding : 0;
	}

	.address img

	{
		display : none;
	}

	.price
	{
		grid-template-columns : 1fr;
	}

	.address,
	.map
	{
		width : 96vw;
		margin : 2rem auto 0 auto;

		grid-template-columns : 1fr;
	}

}

