/* css reset | @yojeero | https://github.com/yojeero */

*, *::before, *::after { box-sizing: border-box; } 
html { box-sizing: border-box; font-size: 100%; line-height: 1.3; text-size-adjust: 100%; } 
body { height: 100vh; } 

img, picture { max-width: 100%; display: block; } 
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre { margin: 0; }

h1, h2, h3, h4, button, input, label { line-height: 1.1; } 
h1, h2, h3, h4, h5, h6 {  text-wrap: balance; font-size: inherit; font-weight: inherit; }

input, button, textarea, select { font-family: inherit; font-size: inherit; } 

ol, ul { list-style: none; margin: 0; padding: 0; }
a { color: currentColor; cursor: pointer; text-decoration: none; }

/* text style */

h1,
h2,
h3,
h4,
h5
{
	font-family : 'Poppins';
	font-weight : 700;
	line-height : 1.3;

	margin : 3rem 0 1.38rem;

	text-transform : capitalize;

	color : #000;
}

h1 { font-size : 1.802rem ; margin-top : 0 } 
h2 { font-size : 1.602rem } 
h3 { font-size : 1.424rem } 
h4 { font-size : 1.266rem } 
h5 { font-size : 1.125rem } 

/* 	main  */

body
{
	font-family : 'Roboto', system-ui,-apple-system,'Segoe UI','Helvetica Neue', Ubuntu, Cantarell,Noto Sans,sans-serif;
	font-weight : 400;
	line-height : 1.75;

	margin : 0;
	padding : 0;

	letter-spacing : 1px;

	color : #191919;
	background : #fafafa;
}

.container
{
	display : grid;

	width : 100%;
	max-width : 70rem;
	margin : auto;

	grid-template-areas : 
	'header'
	'folio'
	'price'
	'address'
	'map'
	'client'
	'footer';
}

header
{
	display : grid;

	width : 100%;

	margin : auto;

	grid-area : header;
}

 /* slider */
 
.slider
{
	position : relative;
	display : grid; 		

	width : 100%;

	grid-template-columns : 1fr 2fr;

	margin : auto;	
	padding : 4rem 3rem 2rem 4rem;

	background-color : #f5f5f5;
}

.logo h1
{
	font-size : 6rem;
	line-height : 1.25rem;

	color : #ff4f00;
}

.logo h2
{
	font-size : 4rem;
	line-height : 1.25rem;

	text-align : right;
	
	color : #adc2b8;
}

.main-menu
{	
	display : grid;
}

.slider-pic
{
	display : grid;
	overflow : hidden;	

	width : 400px;
	height : 400px;

	margin : 2rem 0 1rem;

	border-radius : 50%;

	grid-column : 1/2;
	grid-row : 2/4;

	justify-items : center;
	align-self : center;
}

.slider-show
{
	display : flex;
	flex-direction : row;

	width : auto;
	height : 400px;

	transition : transform 1s;
}

.slider-image
{
	min-width : 100%;
	height : inherit;

	background-position : center;
	background-size : cover;
}

.slider-text
{
	display : grid;
	overflow : hidden;
	align-items : center;

	width : 100%;

	text-align : right;
	text-wrap : balance;

	grid-column : 2/3;
	grid-row : 2/3;
}

.slider-content
{
	display : flex;

	list-style-type : none;

	transition : transform 1s;
}

.slider-card
{
	display : flex;
	flex-direction : column;

	min-width : 100%;

	gap : .5rem;
}

.slider-artist
{
	font-size : 2rem;
	font-weight : 700;

	color : #adc2b8;
}

.slider-year
{
	font-size : 1.125rem;
}

.slider-info ,
.slider-title
{
	font-size : 1rem;
}

.slider-go
{
	display : grid;

	width : 100%;	
	height : 5rem;

	grid-column : 2/3;
	grid-row : 3/4;
	grid-template-columns : 1fr 1fr;
	justify-items : end;
}

.slider-nav
{
	display : flex;
}

.slider-nav div
{
	font-size : 1.25rem;

	display : grid;

	width : 3rem;
	height : 3rem;

	margin-right : .5rem;

	cursor : pointer;

	color : #c3b5aa;
	border : 1.25px solid #c3b5aa;
	border-radius : 50%;
	background-color : transparent;

	place-items : center;
}

.slider-nav div:hover
{
	border : 2.5px solid #c3b5aa;
}

.slider-count
{
	font-size : 1.35rem;
	font-weight : 400;

	display : grid;

	width : 3.25rem;
	height : 3.25rem;

	border-radius : 50%;

	border : 1.25px solid #adc2b8;
	color : #adc2b8;

	place-items : center;
}

/* 	menu 	*/

.navicon
{
	position : absolute;
	z-index : 999;
	top : 4rem;
	right : 4rem;

	display : flex;
	flex-direction : column;
	justify-content : space-between;

	width : 24px;
	height : 14px;

	cursor : pointer;
	transition : transform 330ms ease-out;
}

.navicon.open
{
	transform : rotate(90deg);	
}

.line-menu-top
{
	width : 100%;
	height : 3px;

	border-radius : 2px;
	background-color : #adc2b8;

	transition : transform 330ms cubic-bezier(.54, -.81, .57, .57);
	transform-origin : right;
}

.open .line-menu-top { transform : rotate(90deg) translateX(12px); }

.line-menu-bottom
{
	width : 60%;
	height : 3px;

	border-radius : 2px;
	background-color : #adc2b8;
}

.open .line-menu-bottom
{
	width : 100%;
}

/* 	menu fullscreen  */

.menu
{
	position : fixed;
	top : 0;
	left : 0;

	display : grid;
	visibility : hidden;
	align-items : center;
	justify-content : center;

	width : 100vw;
	height : 100vh;

	transition : visibility .5s ease, opacity 1s ease;
	text-align : right;

	opacity : 0;
	background : #fafafa;
}

.menu.open
{
	z-index : 910;

	visibility : visible;

	opacity : 1;
}

.nav
{
	visibility : visible;
	flex-flow : column wrap;

	padding : 5rem;
}

.menu_head
{
	font-family : 'Poppins';	
	font-size : 1rem;
	font-weight : 700;

	color : #ff4f00;

	padding-bottom : 3.75rem;
}

.menu_foot
{
	font-size : .8rem;

	padding-top : 5rem;
}

.nav li
{
	transition : all .4s ease;
}

.nav a
{
	font-size : 1rem;
	font-weight : 400;
	line-height : 2.5rem;

	position : relative;

	display : block;

	list-style-type : none;

	cursor : pointer;
	transition : all .4s ease;
	text-align : right;
	text-decoration : none;
	letter-spacing : .0406rem;
	text-transform : uppercase;

	color : #000;
}

.nav a::before
{
	position : absolute;
	right : 100%;
	bottom : 0;
	left : 0;

	content : '';
	transition : right .3s ease-out;

	border-bottom : 1px solid #191919;
}

.nav a:hover,
.nav a:focus
{
	font-weight : 700;

	transform : matrix(1, 0, 0, 1, 25, 0);

	color : #ff4f00;
}

.nav a:hover::before , .nav a:focus::before { right : 0; }
.nav a:disabled::before { display : none; }

/* 	folio	 */

.folio
{
	display : grid;

	width : 100%;	

	margin : 5rem 0;

	gap : .5rem;
	
	grid-template-columns : 200px repeat(auto-fill, minmax(170px, 1fr));
	grid-template-rows : repeat(2, 170px);
	
	grid-area : folio;
}

.folio > div > img
{
	width : 100%;
	height : 100%;

	object-fit : cover;
}

.folio .big
{
	grid-column : span 2;
	grid-row : span 2;
} 

.folio-text
{
	padding : 2rem;
}

.folio-text h1
{
	font-size : 5rem;
	line-height : 8rem;

	width : 100%;

	text-align : center;
}

.folio-text p
{
	font-size : .75rem;

	padding-left : 2.5rem;

	letter-spacing : .25rem;
	text-transform : uppercase;

	color : #8fac9e;
}

.folio-text p.ad
{
	margin-bottom : 1rem;
}

/* 	price  */

.price
{
	display : grid;

	width : 70%;

	margin : auto;

	grid-area : price;
	grid-template-columns : 1fr;
}

.price div
{
	display : grid;
	width : 100%;

	text-align : center;
	place-items : center;
}

.price h1, .address h1
{
	font-size : 7.5rem;
	line-height : 110px;
}

.price p, .address p
{
	font-size : .75rem;

	color : #8fac9e;

	margin-bottom : 2.5rem;

	text-align : center;
	letter-spacing : .25rem;
	text-transform : uppercase;
}

thead,
tbody,
tr
{
	display : contents;
}

table
{
	border-top : 1px solid #dde5e5;
	border-right : 1px solid #dde5e5;
}

tr
{
	display : grid;

	background : #f7f8f9;

	grid-template-columns : 2fr 1fr;
}

th ,
td
{
	padding : 1rem;

	text-align : left;

	border-bottom : 1px solid #dde5e5;
	border-left : 1px solid #dde5e5;
}

th
{
	font-size : 1.5rem;

	text-align : center;
	letter-spacing : .0406rem;
	text-transform : capitalize;

	color : #191919;
	background : #fff;
}

td
{
	font-size : .875rem;
}

td:nth-child(2)
{
	text-align : center;
}

/* 	address  */

.address
{
	display : grid;

	width : 100%;
	margin : 5rem auto 2rem auto;

	grid-area : address;
}

.address img
{
	display : grid;

	width : 400px;

	margin : 2rem auto;
}

.address div
{
	display : grid;
	width : 100%;

	text-align : center;
	place-items : center;
}

.info
{
	display : grid;
	justify-content : center;

	margin : 4rem 0;

	grid-template-columns : 50% 40%;
}

.info div
{
	display : grid;
	justify-content : center;

	margin-right : 1rem;
	padding : 2rem;

	border-left : solid 4px #ff4f00;
	background-color : #fff;
}

.info a
{
	font-size : 1.25rem;

	color : #000;
}

.info a:hover
{
	font-weight : 700;

	color : #ff4f00;
}

/* 	map  */

.map
{
	display : grid;

	width : 50%;
	min-height : 400px;

	margin : 0 auto 6rem;
	padding : 2rem;

	border : 1px solid #000;
	background-color : #fff;

	grid-area : map;
}

#map
{	
	width : 100%;
	max-height : 100vh;
}

/*  clients  */

.client
{
	display : grid;
	justify-content : center;

	width : 100%;

	margin : auto;
	padding : 2rem;

	border : 1px solid #000;

	gap : 1rem;
	grid-area : client;
	grid-template-columns : repeat(auto-fill, minmax(100px,150px));
}

.client img
{
	border : 1px solid #000;
}

/* 	footer  */

footer
{
	display : grid;
	justify-content : center;

	width : 100%;

	margin : 7rem 0 4rem;

	text-align : center;
	text-transform : uppercase;

	grid-area : footer;
}

.brand
{
	justify-content : center;

	margin-bottom : 3rem;
	color : #ff4f00;

	letter-spacing : .0406rem;
}

.brand p
{
	font-size : 4rem;

	line-height : 70px;
}

.brand h1
{
	font-size : 7rem;

	line-height : 110px;
}

.copyright
{
	font-size : 5rem;

	justify-content : center;

	width : 40%;

	margin : 2rem auto;
	padding : 1rem 0;

	letter-spacing : .0406rem;
	text-transform : uppercase;

	color : #fff;
	background-color : #ff4f00;
}

.fav
{
	font-size : .875rem;
	line-height : 1.5rem;

	justify-content : center;	

	letter-spacing : .0406rem;
	text-transform : capitalize;
}

.fav div
{	
	margin : 3rem 0;
}

footer .fav a
{
	padding : 0 10px;	
	color : #ff4f00;	
}

.fav a:hover
{
	font-weight : 700;
	color : #000;
}

.up
{
	justify-content : center;
	margin-top : 2rem;
}

.up svg
{
	width : 1.75rem;
	height : 1.75rem;

	transition : all .3s ease;

	fill : none;
	stroke : #ff4f00;
	
}

.up svg:hover
{
	stroke : #000;
}

/* loader */

.loader
{
	position : absolute;
	z-index : 9999;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;

	display : flex;
	align-items : center;
	justify-content : center;

	margin : auto;

	background : #fafafa;
}

.loader svg
{
	display : flex;

	width : 3rem;
	height : 3rem;

	fill : #000;
	stroke : #000;
}

/*  Responsive  */

@media ( max-width: 60em ) /* screen max 960px */
{

.container
{
	width : 100vw;
}

.navicon
{
	top : 3rem;
	right : 3rem;
}

.slider
{
	width : 100vw;

	height : 700px;

	margin : 0;
	padding : 0;

	grid-template-columns : 1fr;

	align-content : space-evenly;
	justify-items : center;
}

.logo
{
	padding-top : 3rem;
}

.logo h1,
.logo h2
{
	font-size : 4rem;
	line-height : 10px;

	padding : 0;
}

.slider-text, .slider-count
{
	display : none;
}

.slider-pic
{
	width : 300px;
	height : 300px;
	
	margin : 0;

	grid-column : 1/2;
}

.slider-show
{
	height : 300px;
}

.slider-go
{
	z-index : 800;
	width : 100vw;

	padding : 2rem;

	grid-column : 1/2;	

	grid-template-columns : 1fr;
	justify-items : center;
}

.slider-nav
{
	margin-top : 4rem;
}

.folio 
{	
	width : 90vw;
	margin : 1rem;
}

.price
{
	width : 90vw;

	margin : 1rem;
	padding : 0;
}

.price div
{
	width : 90vw;
}

tr
{
	grid-template-columns : 1fr 1fr;
}

.address 
{
	width : 90vw;
	margin : 1rem;

	grid-template-columns : 1fr;
}

.address div
{
	width : 90vw;
}

.address img
{
	display : none;
}

.info
{
	margin : 0;

	grid-template-columns : 100%;
}

.info div
{
	margin-right : 0;
}

.map
{
	width : 90vw;
	margin : 1rem;
}

.client
{
	display : none;
}

footer
{
	width : 90vw;
	margin : 1rem;
}

.brand, .copyright, .up
{
	margin : 1rem auto;
}

.brand h1
{
	font-size : 4rem;

	line-height : 70px;
}


}

